 <h3>Top 4 books</h3>

 <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let book of books">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="" routerLink="/books/{{book.id}}">
        <div class="card-body">
          <h4 class="card-title">{{book.name}}</h4>
          <p class="card-text">{{book.title}}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Add to favorite </a>
        </div>
      </div>
    </div>

  </div>


  <!-- <a *ngFor="let book of books" class="col-1-4"
    style="text-decoration: none;"
    routerLink="/books/{{book.id}}"
    >
    <div class="book-box">
      <h4>{{book.name}}</h4>
    </div>
  </a> -->
<!-- </div> -->
<app-book-search></app-book-search>
