<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Book STORE !</a>
      </div>
      <div class="collapse navbar-collapse nav-ex1-collapse">
        <ul class="nav navbar-nav">

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a [routerLink]="['/index']">Home</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/books']">Books</a></li>
        </ul>
      </div>
    </div>
  </nav>
