<h2>Favorite books</h2>
<div style="text-align: left;">
  <table style="width: 300px;">
    <tr>
      <td>New Book name</td>
      <td><input #bookName placeholder="name"></td>


    </tr>
    <tr>
      <td>Release year</td>
      <td><input #releaseYear placeholder="release year"></td>
    </tr>
    <tr>
      <button (click)="
      add(bookName.value, releaseYear.value);
      bookName.value='';
      releaseYear.value='';
      ">
        add
      </button>
    </tr>
  </table>
</div>

<div class="parent">
    <ol class="books">
        <li class="bookListItem"
            *ngFor="let eachBook of books">
            <a routerLink="/detail/{{eachBook.id}}" style="text-decoration: none;">
                {{eachBook.name}} - {{eachBook.releaseYear}}
            </a>
            <button title="delete book" (click)="delete(eachBook.id)">x</button>
        </li>
    </ol>
</div>


