<!-- <div *ngIf="book" class="details">
    <h3>{{book.name}}</h3>
    <table style="width: 100%">
        <tr>
            <td>Name:</td>
            <td><input [(ngModel)]="book.name" placeholder="name"></td>
        </tr>
        <tr>
            <td>Release year: </td>
            <input [(ngModel)]="book.releaseYear" placeholder="release year">
        </tr>

    </table>
    <button class="mt-10 btn btn-primary" (click)="goBack()">Back</button>
    <button class="mt-10 ml-10 btn btn-default" (click)="onSave()">Save</button>

</div> -->

<div *ngIf="book" class="details">
  <h3>{{book.name}}</h3>
  <table style="width: 100%">
      <tr>
          <td>Name:</td>
          <td><input [(ngModel)]="book.name" placeholder="name"></td>
      </tr>
      <tr>
          <td>Release year: </td>
          <input [(ngModel)]="book.releaseYear" placeholder="release year">
      </tr>
      <tr>
        <td>description: </td>
        <input [(ngModel)]="book.description" placeholder="description">
    </tr>
    <tr>
      <td>author: </td>
      <input [(ngModel)]="book.author" placeholder="author">
  </tr>
  <tr>
    <td>status: </td>
    <input [(ngModel)]="book.status" placeholder="status">
</tr>
<tr>
  <td>category: </td>
  <input [(ngModel)]="book.category" placeholder="status">
</tr>

  </table>
  <button class="mt-10 btn btn-primary" (click)="goBack()">Back</button>
  <button class="mt-10 ml-10 btn btn-default" (click)="onSave()">Save</button>

</div>



